*{
    margin:0;
    padding:0;
}

.wrapper{
    width: 100%;
}

.img-banner{
    display:none;
    height: 100px;
}

.img-info h2{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: arial;
    font-size: 1em;
    color: #111;
    line-height: 44px;

}

.img-info p{
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 1em;
    color: #111;
    line-height: 24px;
}

.img-news{
    width: 100%;
}

@media only screen and (min-width: 979px), handled and (orientation: landscape){
    .img-banner{
        display:block;
        width: 100%;
        padding-bottom: 2em
    }
}
    .wrapper{
        width: 600px;
        margin: 0 auto
    }
    html { background: papayawhip}

    .img-info h2{
    padding: 20px 0px 0px;

    }

    .img-info p{
        padding: 20px 0px 0px 30px;
    }

    .img-news{
        padding-top: 30px;
    }
